# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
*.log
*.tmp

# environment variables
.env*

# macOS
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
