# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/

# Next.js
.next/
out/

# Vercel
.vercel/

# macOS
.DS_Store

# ENVs
.env*

# CSS
public/*.css

# VS Code
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.history/

# Miscellaneous
*.log
*.tmp
