# build output
dist/

# generated types
.astro/
*.d.ts

# dependencies
node_modules/
pnpm-lock.yaml

# vs code
.vscode/

# css
public/*.css
public/component.js

# wrangler
wrangler.jsonc

# agents
.agents/
