<a href="" class="relative block group">
  <span
    class="absolute inset-0 bg-yellow-300 transition-transform transform translate-x-2 translate-y-2 group-hover:translate-y-0 group-hover:translate-x-0"
  ></span>

  <div class="relative flex flex-col items-center justify-between h-full p-12 text-center bg-yellow-200">
    <div>
      <h2 class="font-mono text-2xl font-bold tracking-widest uppercase">
        Lorem, ipsum dolor.
      </h2>

      <p class="mt-4 font-mono text-sm font-bold tracking-widest">
        13/04/2021
      </p>
    </div>

    <div class="relative inline-flex items-center justify-center mt-12 leading-none border border-yellow-200 group">
      <span class="absolute inset-0 bg-yellow-300 transform translate-x-2 translate-y-2"> </span>
      <span class="relative px-8 py-5 font-mono font-bold tracking-widest uppercase bg-white">
        Read now
      </span>
    </div>
  </div>
</a>
