<a href="" class="flex flex-col p-2 bg-gray-900 rounded-xl">
  <img src="https://www.hyperui.dev/code/photos/shoe-1.jpeg" alt="" class="w-full rounded-lg" />

  <div class="flex flex-col justify-between h-full p-4 space-y-4">
    <h5 class="text-xl font-medium text-white">Super comfy shoe that you will love</h5>
    <span
      class="block w-full px-8 py-4 font-medium text-center text-white rounded-lg shadow-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
    >
      Buy now $120+
    </span>
  </div>
</a>
