<section class="text-white bg-black">
  <div class="px-4 py-16 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
    <h2 class="text-2xl font-bold sm:text-3xl">Benefits of XYZ</h2>

    <dl class="mt-12 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <div class="flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="flex-shrink-0 w-8 h-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
          />
        </svg>

        <div class="ml-6">
          <dt class="text-xl font-bold">We do this</dt>
          <dd class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, qui perspiciatis. Atque nulla sapiente
            possimus?
          </dd>
        </div>
      </div>

      <div class="flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="flex-shrink-0 w-8 h-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
          />
        </svg>

        <div class="ml-6">
          <dt class="text-xl font-bold">We do this</dt>
          <dd class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, qui perspiciatis. Atque nulla sapiente
            possimus?
          </dd>
        </div>
      </div>

      <div class="flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="flex-shrink-0 w-8 h-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
          />
        </svg>

        <div class="ml-6">
          <dt class="text-xl font-bold">We do this</dt>
          <dd class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, qui perspiciatis. Atque nulla sapiente
            possimus?
          </dd>
        </div>
      </div>

      <div class="flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="flex-shrink-0 w-8 h-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
          />
        </svg>

        <div class="ml-6">
          <dt class="text-xl font-bold">We do this</dt>
          <dd class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, qui perspiciatis. Atque nulla sapiente
            possimus?
          </dd>
        </div>
      </div>

      <div class="flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="flex-shrink-0 w-8 h-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
          />
        </svg>

        <div class="ml-6">
          <dt class="text-xl font-bold">We do this</dt>
          <dd class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, qui perspiciatis. Atque nulla sapiente
            possimus?
          </dd>
        </div>
      </div>

      <div class="flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="flex-shrink-0 w-8 h-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
          />
        </svg>

        <div class="ml-6">
          <dt class="text-xl font-bold">We do this</dt>
          <dd class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, qui perspiciatis. Atque nulla sapiente
            possimus?
          </dd>
        </div>
      </div>
    </dl>
  </div>
</section>
