<section>
  <article class="relative flex flex-wrap bg-pink-300 even:flex-row-reverse">
    <div class="flex items-center w-full px-4 py-12 lg:w-1/2 sm:px-6 lg:px-8 sm:py-24 lg:py-48 lg:items-center">
      <div class="max-w-lg mx-auto text-center lg:text-left">
        <h2 class="text-2xl font-medium sm:text-3xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h2>

        <p class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ratione sed cumque molestiae dolores eaque
          odit corporis accusamus reprehenderit laborum?
        </p>
      </div>
    </div>

    <div class="relative w-full h-64 sm:h-96 lg:w-1/2 lg:h-auto">
      <img
        class="absolute inset-0 object-cover w-full h-full"
        src="https://www.hyperui.dev/code/photos/man-1.jpeg"
        alt=""
      />
    </div>
  </article>

  <article class="relative flex flex-wrap bg-blue-300 even:flex-row-reverse">
    <div class="flex items-center w-full px-4 py-12 lg:w-1/2 sm:px-6 lg:px-8 sm:py-24 lg:py-48 lg:items-center">
      <div class="max-w-lg mx-auto text-center lg:text-left">
        <h2 class="text-2xl font-medium sm:text-3xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h2>

        <p class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ratione sed cumque molestiae dolores eaque
          odit corporis accusamus reprehenderit laborum?
        </p>
      </div>
    </div>

    <div class="relative w-full h-64 sm:h-96 lg:w-1/2 lg:h-auto">
      <img
        class="absolute inset-0 object-cover w-full h-full"
        src="https://www.hyperui.dev/code/photos/man-1.jpeg"
        alt=""
      />
    </div>
  </article>

  <article class="relative flex flex-wrap bg-green-300 even:flex-row-reverse">
    <div class="flex items-center w-full px-4 py-12 lg:w-1/2 sm:px-6 lg:px-8 sm:py-24 lg:py-48 lg:items-center">
      <div class="max-w-lg mx-auto text-center lg:text-left">
        <h2 class="text-2xl font-medium sm:text-3xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h2>

        <p class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ratione sed cumque molestiae dolores eaque
          odit corporis accusamus reprehenderit laborum?
        </p>
      </div>
    </div>

    <div class="relative w-full h-64 sm:h-96 lg:w-1/2 lg:h-auto">
      <img
        class="absolute inset-0 object-cover w-full h-full"
        src="https://www.hyperui.dev/code/photos/man-1.jpeg"
        alt=""
      />
    </div>
  </article>

  <article class="relative flex flex-wrap bg-yellow-300 even:flex-row-reverse">
    <div class="flex items-center w-full px-4 py-12 lg:w-1/2 sm:px-6 lg:px-8 sm:py-24 lg:py-48 lg:items-center">
      <div class="max-w-lg mx-auto text-center lg:text-left">
        <h2 class="text-2xl font-medium sm:text-3xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h2>

        <p class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ratione sed cumque molestiae dolores eaque
          odit corporis accusamus reprehenderit laborum?
        </p>
      </div>
    </div>

    <div class="relative w-full h-64 sm:h-96 lg:w-1/2 lg:h-auto">
      <img
        class="absolute inset-0 object-cover w-full h-full"
        src="https://www.hyperui.dev/code/photos/man-1.jpeg"
        alt=""
      />
    </div>
  </article>
</section>
