<section>
  <div class="grid grid-cols-1 lg:grid-cols-2 lg:h-screen">
    <div class="relative z-10 lg:py-8">
      <div class="relative h-64 lg:h-full">
        <img
          class="absolute inset-0 object-cover w-full h-full"
          src="https://www.hyperui.dev/code/photos/house-1.jpeg"
          alt=""
        />
      </div>
    </div>

    <div class="relative flex items-center bg-blue-900 lg:pl-4">
      <span class="absolute inset-y-0 hidden w-16 bg-blue-900 lg:block -left-16"></span>

      <div class="relative px-4 py-16 sm:px-6 lg:px-8 lg:py-24">
        <h2 class="text-2xl font-bold text-white sm:text-3xl">Lorem ipsum dolor sit amet consectetur.</h2>

        <p class="mt-4 text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus praesentium corporis maxime similique
          obcaecati quam, explicabo et animi aspernatur nisi!
        </p>

        <a class="inline-block px-5 py-3 mt-8 text-sm font-medium text-white uppercase bg-blue-500" href="">
          Get in touch
        </a>
      </div>
    </div>
  </div>
</section>
