<section class="relative grid grid-cols-1 mx-auto lg:ml-0 lg:grid-cols-5 pb-16 sm:pb-24 max-w-[1340px]">
  <div class="relative z-10 lg:py-16 lg:order-last lg:pr-8 lg:col-span-2">
    <div class="relative px-12 py-24 text-white lg:pl-0 bg-sky-500">
      <span class="absolute inset-y-0 hidden w-12 -left-12 bg-sky-500 lg:block"></span>

      <div class="max-w-xs mx-auto text-center">
        <h2 class="relative">
          <span class="block font-serif text-xl italic font-light"> About </span>
          <span class="block text-4xl font-extrabold uppercase sm:text-5xl"> Why Us? </span>
        </h2>

        <p class="max-w-xs mx-auto mt-8 lg:ml-0">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde sit quod tenetur atque aspernatur sunt iure
          amet nemo eos sed!
        </p>

        <a class="relative inline-block mt-8 group" href="">
          <span
            class="absolute inset-0 bg-yellow-300 transition-transform transform translate-x-2 translate-y-2 group-hover:translate-y-0 group-hover:translate-x-0"
          ></span>
          <span
            class="relative inline-block px-5 py-3 text-xs font-bold tracking-widest uppercase border-2 text-sky-700 border-sky-700"
          >
            Want to know more?
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="relative lg:col-span-3">
    <img
      class="object-cover w-full h-96 lg:absolute lg:inset-0 lg:h-full"
      src="https://images.unsplash.com/photo-1572025442646-866d16c84a54?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
    />
  </div>
</section>
