<header class="border-b border-gray-100">
  <div class="flex items-center justify-between h-16 px-4 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <div class="flex items-center">
      <a href="" class="flex flex-shrink-0">
        <span class="inline-block w-20 h-10 bg-gray-200 rounded-lg"></span>
      </a>

      <nav class="items-center hidden pl-8 ml-8 text-sm font-medium border-l border-gray-100 space-x-8 md:flex">
        <a href="">About</a>
        <a href="">News</a>
        <a href="">Products</a>
        <a href="">Contact</a>
      </nav>
    </div>

    <div class="flex items-center">
      <div class="items-center hidden divide-x divide-gray-100 lg:flex">
        <a href="" class="block px-6 text-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4 mx-auto"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
            />
          </svg>
          <span class="block mt-1 text-xs font-medium">Account</span>
        </a>

        <a href="" class="block px-6 text-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4 mx-auto"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
          <span class="block mt-1 text-xs font-medium">Search</span>
        </a>
      </div>

      <a href="" class="inline-flex flex-col items-center justify-center w-16 h-16 bg-gray-100">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
          />
        </svg>

        <span class="block mt-1 text-xs font-medium">Cart</span>
      </a>

      <button
        type="button"
        class="inline-flex flex-col items-center justify-center w-16 h-16 bg-gray-100 border-l border-white lg:hidden"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>
</header>
