<section class="relative">
  <button type="button" class="absolute p-1 text-white border rounded-full border-current top-3 right-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" viewBox="0 0 20 20" fill="currentColor">
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      />
    </svg>
  </button>

  <img class="object-cover w-full h-64 rounded-xl" src="https://www.hyperui.dev/code/photos/map-1.jpeg" alt="" />

  <div class="relative z-10 p-8 mx-2 -mt-16 text-center bg-white shadow-xl rounded-3xl">
    <h5 class="text-2xl font-bold">Navigate to the future, don't get lost in the past</h5>

    <a class="block py-4 mt-6 font-medium text-white bg-green-600 shadow-xl rounded-xl" href=""> Upgrade today </a>
  </div>
</section>
