<section class="py-16 sm:py-24">
  <div class="max-w-3xl px-4 mx-auto text-center sm:px-6 lg:px-8">
    <h1 class="text-4xl font-extrabold sm:text-5xl">Bamboo Products</h1>

    <p class="max-w-xl mx-auto mt-6 text-gray-700 sm:text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores soluta autem placeat quo animi porro harum.
    </p>
  </div>

  <div class="px-4 mx-auto mt-8 max-w-screen-2xl sm:px-6 lg:px-8 sm:mt-12">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-8">
      <a href="" class="block transition-opacity hover:opacity-75">
        <div class="aspect-w-1 aspect-h-1">
          <img
            src="https://images.unsplash.com/photo-1592372554345-22ced975691d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1616&q=80"
            alt=""
            class="rounded"
          />
        </div>

        <p class="mt-4 text-xl">Bamboo Toothbrush</p>
        <p>$9.99</p>
      </a>

      <a href="" class="block transition-opacity hover:opacity-75">
        <div class="aspect-w-1 aspect-h-1">
          <img
            src="https://images.unsplash.com/photo-1592372554345-22ced975691d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1616&q=80"
            alt=""
            class="rounded"
          />
        </div>

        <p class="mt-4 text-xl">Bamboo Toothbrush</p>
        <p>$9.99</p>
      </a>

      <a href="" class="block transition-opacity hover:opacity-75">
        <div class="aspect-w-1 aspect-h-1">
          <img
            src="https://images.unsplash.com/photo-1592372554345-22ced975691d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1616&q=80"
            alt=""
            class="rounded"
          />
        </div>

        <p class="mt-4 text-xl">Bamboo Toothbrush</p>
        <p>$9.99</p>
      </a>

      <a href="" class="block transition-opacity hover:opacity-75">
        <div class="aspect-w-1 aspect-h-1">
          <img
            src="https://images.unsplash.com/photo-1592372554345-22ced975691d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1616&q=80"
            alt=""
            class="rounded"
          />
        </div>

        <p class="mt-4 text-xl">Bamboo Toothbrush</p>
        <p>$9.99</p>
      </a>

      <a href="" class="block transition-opacity hover:opacity-75">
        <div class="aspect-w-1 aspect-h-1">
          <img
            src="https://images.unsplash.com/photo-1592372554345-22ced975691d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1616&q=80"
            alt=""
            class="rounded"
          />
        </div>

        <p class="mt-4 text-xl">Bamboo Toothbrush</p>
        <p>$9.99</p>
      </a>

      <a href="" class="block transition-opacity hover:opacity-75">
        <div class="aspect-w-1 aspect-h-1">
          <img
            src="https://images.unsplash.com/photo-1592372554345-22ced975691d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1616&q=80"
            alt=""
            class="rounded"
          />
        </div>

        <p class="mt-4 text-xl">Bamboo Toothbrush</p>
        <p>$9.99</p>
      </a>
    </div>
  </div>
</section>
