<ul class="flex text-center border-b border-gray-200">
  <li class="flex-1">
    <a class="relative block p-4 text-sm font-medium bg-white border-t border-l border-r border-gray-200" href="">
      <span class="absolute inset-x-0 w-full h-px bg-white -bottom-px"></span>

      Settings
    </a>
  </li>

  <li class="flex-1 pl-px">
    <a class="block p-4 text-sm font-medium text-gray-500 bg-gray-100 ring-1 ring-inset ring-white" href="">
      Messages
    </a>
  </li>

  <li class="flex-1">
    <a class="block p-4 text-sm font-medium text-gray-500 bg-gray-100 ring-1 ring-inset ring-white" href="">
      Archive
    </a>
  </li>

  <li class="flex-1 -mr-px">
    <a class="block p-4 text-sm font-medium text-gray-500 bg-gray-100 ring-1 ring-inset ring-white" href="">
      Notifications
    </a>
  </li>
</ul>
