<section>
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <nav class="hidden sm:flex sm:text-sm sm:font-medium sm:border-b sm:border-gray-100">
      <a href="" class="p-4 -mb-px border-b border-cyan-500 text-cyan-500">
        Bronze
      </a>

      <a href="" class="p-4 -mb-px border-b border-transparent hover:text-cyan-500">
        Silver
      </a>

      <a href="" class="p-4 -mb-px border-b border-transparent hover:text-cyan-500">
        Gold
      </a>

      <a href="" class="p-4 -mb-px border-b border-transparent hover:text-cyan-500">
        Platinum
      </a>
    </nav>

    <select class="block w-full border-gray-100 sm:hidden">
      <option value="bronze">Bronze</option>
      <option value="silver">Silver</option>
      <option value="gold">Gold</option>
      <option value="platinum">Platinum</option>
    </select>
  </div>
</section>
