<section>
  <div class="px-4 py-24 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto text-center">
      <h1
        class="text-3xl font-extrabold text-transparent sm:text-6xl bg-clip-text bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
      >
        Lorem ipsum dolor sit amet consectetur.
      </h1>

      <p class="max-w-xl mx-auto mt-6 text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique necessitatibus dolorem soluta,
        recusandaefacere error.
      </p>
    </div>
  </div>
</section>
