---
import { getCollection } from 'astro:content'

import { SEO_DESCRIPTION_BLOG, SEO_TITLE_BLOG } from '../../consts'

import BaseLayout from '../../layouts/BaseLayout.astro'
import BaseHero from '../../components/BaseHero.astro'
import BlogCard from '../../components/BlogCard.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf(),
)
---

<BaseLayout description={SEO_DESCRIPTION_BLOG} title={SEO_TITLE_BLOG}>
  <BaseHero
    title="Tailwind CSS Blog"
    description="Tips, tricks and real-world solutions for working with Tailwind CSS"
  />

  <main id="main-content" class="mx-auto max-w-7xl divide-y divide-gray-200 px-4">
    {posts.map((post) => <BlogCard post={post} />)}
  </main>
</BaseLayout>
