.w-tc-editor textarea {
  @apply !overflow-auto !whitespace-nowrap !p-4 !text-[14px] !leading-normal;
  word-spacing: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
  -webkit-hyphens: none !important;
  hyphens: none !important;
}
