.cm-focused {
  @apply !outline-none;
}

.cm-scroller {
  @apply !bg-gray-900;
}

.cm-gutters {
  @apply !border-r !border-r-gray-800 !bg-gray-900 !text-white;
}

.cm-gutterElement {
  @apply !p-0 !px-1 !text-white/50;
}

.cm-gutterElement span {
  @apply !bg-[length:_10px] !bg-center !bg-no-repeat !p-0 !text-transparent;
}

.cm-gutterElement span[title='Unfold line'] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFF' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5' /%3E%3C/svg%3E%0A");
}

.cm-gutterElement span[title='Fold line'] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFF' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
}

.cm-content {
  @apply !p-4;
}

.cm-line {
  @apply !p-0 !text-white;
}

.cm-line .ͼi {
  @apply !text-red-400;
}

.cm-line .ͼe {
  @apply !text-green-400;
}

.cm-selectionLayer {
  @apply !z-0;
}

.cm-selectionBackground {
  @apply !bg-white/25;
}

.cm-selectionMatch {
  @apply !bg-amber-400/25;
}

.cm-cursor {
  @apply !border-l-white;
}

.cm-activeLine,
.cm-activeLineGutter {
  @apply !bg-gray-700;
}

.cm-foldPlaceholder {
  @apply !border-none !bg-gray-700 !px-1 !text-white !transition hover:!bg-gray-600;
}

.cm-panels-bottom {
  @apply !rounded-lg !border-4 !border-gray-900 !bg-gray-800 !text-white;
}

.cm-search {
  @apply !p-4;
}

.cm-search input[type='checkbox'],
.cm-search .cm-textfield {
  @apply !rounded !border-gray-700 !bg-gray-900 !text-white;
}

.cm-search input[type='checkbox'] {
  @apply !h-4 !w-4;
}

.cm-search .cm-button {
  @apply !bg-red-500;
  background-image: none;
}
