pre[class*='language-'] {
  border-radius: var(--radius-lg) !important;
  background-color: var(--color-gray-900) !important;
  padding: --spacing(4) !important;
  margin: 0 !important;
}

.token:is(.property, .tag, .constant, .symbol, .deleted) {
  color: var(--color-red-400) !important;
}

.token:is(.selector, .attr-name, .string, .char, .builtin, .inserted) {
  color: var(--color-yellow-400) !important;
}

.token:is(.atrule, .attr-value, .function, .class-name) {
  color: var(--color-green-400) !important;
}

.token:is(.comment, .prolog, .doctype, .cdata) {
  color: var(--color-gray-400) !important;
}

.token:is(.operator, .entity, .url, .variable) {
  color: var(--color-white) !important;
}

.token:is(.boolean, .number) {
  color: var(--color-purple-400) !important;
}

.token.keyword {
  color: var(--color-cyan-400) !important;
}
