---
import { getCollection } from 'astro:content'

import {
  SEO_DESCRIPTION_MARKETING_COMPONENTS,
  SEO_TITLE_MARKETING_COMPONENTS,
} from '../../../consts'

import BaseLayout from '../../../layouts/BaseLayout.astro'
import ComponentCard from '../../../components/ComponentCard.astro'
import BaseHero from '../../../components/BaseHero.astro'

const components = (await getCollection('marketing'))
  .map(({ data }) => data)
  .sort((a, b) => a.title.localeCompare(b.title))
---

<BaseLayout
  description={SEO_DESCRIPTION_MARKETING_COMPONENTS}
  title={SEO_TITLE_MARKETING_COMPONENTS}
>
  <BaseHero
    title="Marketing"
    description="Free Tailwind CSS marketing components that can be used in your next project."
  />

  <main id="main-content" class="mx-auto max-w-7xl px-4">
    <ul
      aria-label="Marketing Components"
      class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
    >
      {components.map((component) => <ComponentCard component={component} />)}
    </ul>
  </main>
</BaseLayout>
