---
import ErrorLayout from '../layouts/ErrorLayout.astro'
---

<ErrorLayout description="Page not found" title="404 - Page Not Found">
  <main id="main-content" class="mx-auto max-w-3xl space-y-6 text-center">
    <h1 class="text-5xl font-medium text-gray-900">404 - Page Not Found</h1>

    <p class="text-gray-600">Sorry, the page you are looking for does not exist.</p>

    <a
      href="/"
      class="inline-flex items-center gap-2 text-gray-700 transition-colors hover:text-gray-900"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-5"
      >
        <path
          fill-rule="evenodd"
          d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z"
          clip-rule="evenodd"></path>
      </svg>

      <span>Go back home</span>
    </a>
  </main>
</ErrorLayout>
