---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout ads={false} description="Page not found" title="404 - Page Not Found">
  <main id="main-content" class="mx-auto max-w-7xl px-4 py-8">
    <div class="prose">
      <h1 class="text-6xl font-bold text-red-600">404 - Page Not Found</h1>
      <p class="mt-3 text-stone-700" >Sorry, the page you are looking for does not exist.</p>
    </div>
  </main>
</BaseLayout>
