<article
  class="group relative flex divide-x-2 divide-gray-900 border-2 border-gray-900 bg-white transition hover:shadow-xl"
>
  <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
    <time
      datetime="2022-10-10"
      class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900"
    >
      <span>2022</span>
      <span class="w-px flex-1 bg-gray-900/10"></span>
      <span>Oct 10</span>
    </time>
  </div>

  <div class="hidden sm:block sm:basis-56">
    <picture>
      <img
        alt="Blog"
        loading="lazy"
        src="https://images.unsplash.com/photo-1609557927087-f9cf8e88de18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
        class="aspect-square h-full w-full object-cover"
      />
    </picture>
  </div>

  <div class="flex-1 p-4 sm:p-6">
    <h3 class="font-bold uppercase text-gray-900 line-clamp-3 sm:text-xl">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </h3>

    <p
      class="mt-2 block text-sm text-gray-900/90 line-clamp-2 sm:mt-4 sm:text-base sm:line-clamp-3"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio accusamus
      molestias qui amet hic iusto vero assumenda explicabo? Consequuntur,
      distinctio.
    </p>

    <div class="-mx-4 mt-6 -mb-4 sm:-mr-6 sm:-mb-6 sm:flex sm:justify-end">
      <a
        href="#"
        class="block bg-yellow-300 px-5 py-3 text-center font-bold text-gray-900 before:absolute before:inset-0"
      >
        Read Blog
      </a>
    </div>
  </div>
</article>
