<div id={Astro.originPathname} class="not-prose min-h-32 max-w-sm">
  <div
    data-ea-publisher="hyperuidev"
    data-ea-type="image"
    class="horizontal [&_.ea-body]:text-gray-700! [&_.ea-callout]:mx-0! [&_.ea-callout]:-mt-px! [&_.ea-callout]:mb-0! [&_.ea-callout]:max-w-none! [&_.ea-callout]:rounded-b-lg! [&_.ea-callout]:border [&_.ea-callout]:border-gray-200 [&_.ea-callout]:bg-gray-50! [&_.ea-callout]:px-4! [&_.ea-callout]:py-2! [&_.ea-callout]:text-gray-500! [&_.ea-callout]:not-italic! [&_.ea-content]:m-0! [&_.ea-content]:max-w-none! [&_.ea-content]:rounded-t-lg! [&_.ea-content]:rounded-b-none! [&_.ea-content]:border! [&_.ea-content]:border-gray-200! [&_.ea-content]:bg-white! [&_.ea-content]:p-4! [&_.ea-content]:shadow-none! [&_.ea-content>a>img]:rounded-lg! [&_.ea-cta]:text-sky-500! [&_.ea-domain]:text-right! [&_.ea-domain]:text-gray-500! [&_.ea-headline]:text-sky-500!"
  >
  </div>
</div>
