---

---

<div id={Astro.originPathname} class="not-prose mx-auto min-h-38 max-w-sm">
  <div
    data-ea-publisher="hyperuidev"
    data-ea-type="image"
    class="horizontal [&_.ea-callout]:mx-0! [&_.ea-callout]:mt-1! [&_.ea-callout]:mb-0! [&_.ea-callout]:max-w-none! [&_.ea-callout]:px-2! [&_.ea-content]:m-0! [&_.ea-content]:max-w-none! [&_.ea-content]:rounded-lg! [&_.ea-content]:border! [&_.ea-content]:border-stone-300! [&_.ea-content]:bg-stone-50! [&_.ea-content]:shadow-sm! [&_.ea-content>a>img]:rounded-md!"
  >
  </div>
</div>
