---
import type { CollectionEntry } from 'astro:content'

interface Props {
  components:
    | CollectionEntry<'application'>['data'][]
    | CollectionEntry<'marketing'>['data'][]
    | CollectionEntry<'neobrutalism'>['data'][]
}

const { components } = Astro.props

const totalComponents = components.reduce((total, { components }) => {
  return total + components.reduce((sum, { dark }) => sum + (dark ? 2 : 1), 0)
}, 0)
---

<div
  class="inline-flex items-center gap-2 rounded-md border border-stone-300 bg-stone-50 px-3 py-1 font-semibold shadow-sm"
>
  <span aria-hidden="true" class="text-xl"> 📣 </span>

  <p class="text-lg text-stone-700">
    {totalComponents} components across {components.length} collections
  </p>

  <span aria-hidden="true" class="-scale-x-100 text-xl"> 📣 </span>
</div>
