---
import type { CollectionEntry } from 'astro:content'

import { ArrowRight } from '@lucide/astro'

interface Props {
  component:
    | CollectionEntry<'application'>['data']
    | CollectionEntry<'marketing'>['data']
    | CollectionEntry<'neobrutalism'>['data']
}

const { component } = Astro.props

const { category, components, slug, title } = component

const componentCount = components.length + components.filter(({ dark }) => !!dark).length
---

<li>
  <a
    href={`/components/${category}/${slug}`}
    class="group block rounded-lg border border-gray-200 bg-white p-6 transition hover:-translate-y-1 hover:border-gray-300 hover:shadow-lg"
  >
    <h3 class="text-xl font-medium text-gray-900">
      {title}
    </h3>

    <div class="mt-1 flex items-center justify-between">
      <p class="text-sm text-gray-600">
        {componentCount} components
      </p>

      <ArrowRight
        class="size-5 text-gray-400 opacity-0 transition group-hover:translate-x-1 group-hover:opacity-100"
      />
    </div>
  </a>
</li>
