---
import type { CollectionEntry } from 'astro:content'

interface Props {
  component:
    | CollectionEntry<'application'>['data']
    | CollectionEntry<'marketing'>['data']
    | CollectionEntry<'neobrutalism'>['data']
}

const { component } = Astro.props

const { category, components, slug, title } = component

const componentCount = components.length + components.filter(({ dark }) => !!dark).length
---

<li>
  <a
    href={`/components/${category}/${slug}`}
    class="group block rounded-lg border border-gray-200 bg-white p-6 transition hover:-translate-y-1 hover:border-gray-300 hover:shadow-lg"
  >
    <h3 class="text-xl font-medium text-gray-900">
      {title}
    </h3>

    <div class="mt-1 flex items-center justify-between">
      <p class="text-sm text-gray-600">
        {componentCount} components
      </p>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-5 text-gray-400 opacity-0 transition group-hover:translate-x-1 group-hover:opacity-100"
      >
        <path
          fill-rule="evenodd"
          d="M3 10a.75.75 0 0 1 .75-.75h10.638L10.23 5.29a.75.75 0 1 1 1.04-1.08l5.5 5.25a.75.75 0 0 1 0 1.08l-5.5 5.25a.75.75 0 1 1-1.04-1.08l4.158-3.96H3.75A.75.75 0 0 1 3 10Z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
  </a>
</li>
