---
import DropdownMenu from './DropdownMenu.astro'
import DropdownToggle from './DropdownToggle.astro'
---

<div class="relative block shrink-0 lg:hidden">
  <DropdownToggle />
  <DropdownMenu />
</div>
