<aside class="-mt-px border-y border-stone-300 bg-stone-50">
  <div class="mx-auto flex max-w-7xl justify-center px-4 py-2">
    <a
      href="https://github.com/markmead/hyperui"
      rel="noreferrer"
      target="_blank"
      class="inline-flex items-center justify-center gap-2 font-medium text-stone-900 transition-colors hover:text-stone-700 focus:ring-2 focus:ring-pink-500 focus:outline-0"
    >
      <span class="text-sm/none"> Enjoy HyperUI? Give it a star on GitHub </span>

      <span aria-hidden="true">🎉</span>
    </a>
  </div>
</aside>
