---
const fromHyperJS = Astro.url.hostname === 'js.hyperui.dev'
---

{
  fromHyperJS ? (
    <aside class="-mt-px border-y border-amber-300 bg-amber-50">
      <div class="mx-auto flex max-w-7xl justify-center px-4 py-2">
        <p class="text-amber-700">
          Here from{' '}
          <span class="rounded-sm border border-amber-400 bg-amber-200 px-1 py-0.5 font-mono text-sm/none">
            js.hyperui.dev
          </span>
          ? Please note that HyperJS has been deprecated. You can still{' '}
          <a
            href="https://github.com/markmead/hyperjs"
            class="font-medium underline hover:no-underline"
            target="_blank"
            rel="noreferrer"
          >
            access the code
          </a>
          on GitHub.
        </p>
      </div>
    </aside>
  ) : null
}
