---

---

<section class="-mt-px border-y border-amber-500 bg-amber-100 text-amber-900">
  <div class="mx-auto max-w-3xl px-4 py-2 text-center text-pretty">
    <strong>Important!</strong>
    You are viewing the Astro version of HyperUI. Due to recent Vercel changes, Next is no longer a viable
    option. This new version is under active development.
  </div>
</section>
