---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className = '', ...props } = Astro.props
---

<a
  href={href}
  class:list={[
    'text-sm font-medium text-gray-600 transition-colors hover:text-gray-900',
    className,
  ]}
  {...props}
>
  <slot />
</a>
