---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, ...props } = Astro.props
---

<a href={href} class="font-medium text-stone-700 transition-colors hover:text-stone-900" {...props}>
  <slot />
</a>
