---
import BaseAd from './BaseAd.astro'
import HeroUsps from './HeroUsps.astro'

interface Props {
  subtitle: string
  title: string
}

const { subtitle, title } = Astro.props
---

<section class="bg-white">
  <div class="mx-auto flex max-w-7xl flex-col items-center gap-8 px-4 py-16 md:flex-row">
    <div class="flex-1">
      <div class="flex flex-col items-start gap-4">
        <h1 class="text-lg text-stone-700">{subtitle}</h1>

        <h2 class="order-first text-4xl font-bold text-stone-900 lg:text-5xl">
          {title}
        </h2>
      </div>

      <div class="mt-4 max-w-prose space-y-6">
        <p class="leading-relaxed text-pretty text-stone-700">
          <slot />
        </p>

        <HeroUsps />
      </div>
    </div>

    <div class="shrink-0">
      <BaseAd />
    </div>
  </div>
</section>
