---
interface Props {
  src: string
}

const { src } = Astro.props
---

<preview-code data-src={src} class="block">
  <div
    data-preview="true"
    class="prose prose-pre:m-0 prose-pre:rounded-xl prose-pre:shadow-sm max-w-none data-[preview=true]:hidden"
  >
    <div data-html></div>
  </div>
</preview-code>

<script>
  import { codeToHtml } from 'shiki'

  class PreviewCode extends HTMLElement {
    private abortController: AbortController | null = null

    connectedCallback() {
      const src = this.dataset.src

      if (!src) {
        return
      }

      const wrapper = this.querySelector('[data-preview]')
      const container = this.querySelector('[data-html]')

      if (!wrapper || !container) {
        return
      }

      this.abortController = new AbortController()

      const iframeLoadedHandler = async (event: Event) => {
        const { detail } = event as CustomEvent

        await this.renderCode(container as HTMLDivElement, detail.content)
      }

      const viewHandler = (event: Event) => {
        const { detail } = event as CustomEvent

        const isPreviewMode = detail.previewing

        wrapper.setAttribute('data-preview', isPreviewMode ? 'true' : 'false')
      }

      document.addEventListener(`iframe:loaded:${src}`, iframeLoadedHandler, {
        signal: this.abortController.signal,
      })

      document.addEventListener(`preview:view:${src}`, viewHandler, {
        signal: this.abortController.signal,
      })
    }

    disconnectedCallback() {
      this.abortController?.abort()
    }

    private async renderCode(container: HTMLDivElement, content: string): Promise<void> {
      try {
        const html = await codeToHtml(content, {
          lang: 'html',
          theme: 'github-dark',
        })

        if (this.isConnected) {
          container.innerHTML = html
        }
      } catch {
        // We do nothing
      }
    }
  }

  customElements.define('preview-code', PreviewCode)
</script>
