---
interface Props {
  refs: string[]
  url: string
  prefix?: string
}

const { refs, url, prefix } = Astro.props
---

{
  refs.length ? (
    <p class="text-sm text-gray-500">
      {prefix ? `${prefix} ` : null}
      {refs
        .map((ref) => (
          <a
            href={`${url}${ref}`}
            target="_blank"
            rel="noreferrer"
            class="font-medium transition-colors hover:text-gray-900"
          >
            {ref}
          </a>
        ))
        .reduce((prev, current) => [prev, ', ', current])}
    </p>
  ) : null
}
