---
interface Props {
  refs: string[]
  url: string
}

const { refs, url } = Astro.props
---

{
  refs.length ? (
    <p>
      {refs
        .map((ref) => (
          <a
            href={`${url}${ref}`}
            target="_blank"
            rel="noreferrer"
            class="font-medium underline transition-colors hover:text-gray-900"
          >
            {ref}
          </a>
        ))
        .reduce((prev, current) => [prev, ', ', current])}
    </p>
  ) : null
}
