---
import { getCollection } from 'astro:content'

import { ArrowRight } from '@lucide/astro'

import ComponentCard from './ComponentCard.astro'

type Props = {
  slug: string
  terms: string[]
  category: 'application' | 'marketing' | 'neobrutalism'
}

const { slug, terms, category } = Astro.props

const termsSet = new Set(terms)

const components = (await getCollection(category))
  .map(({ data }) => data)
  .filter((item) => item.slug !== slug && item.terms.some((term) => termsSet.has(term)))
  .slice(0, 5)
---

<div class="mt-16 space-y-8">
  {
    components.length > 0 && (
      <div>
        <h2 class="text-2xl font-medium">Related components</h2>

        <ul class="mt-4 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
          {components.map((component) => (
            <ComponentCard {component} />
          ))}
        </ul>
      </div>
    )
  }

  <a href={`/components/${category}`} class="group inline-flex items-center gap-2 text-gray-700">
    <span>View all {category} components</span>

    <ArrowRight class="size-5 transition-transform group-hover:translate-x-1" />
  </a>
</div>
