---
interface Props {
  collections: {
    title: string
    slug: string
    emoji: string
    terms: string[]
  }[]
  posts: {
    title: string
    slug: string
    emoji?: string
  }[]
}

const { collections, posts } = Astro.props as Props
---

<div
  x-data={`
    {
        q: '',
        results: [],
        collections: ${JSON.stringify(collections)},
        posts: ${JSON.stringify(posts)},
        init() {
          this.$watch('q', (value) => {
            if (value.length === 0) {
              this.results = []

              return
            }

            const query = value.toLowerCase()

            const collections = this.collections.filter(
              (item) =>
                item.title.toLowerCase().includes(query) ||
                item.terms.some(term => term.toLowerCase().includes(query))
            )

            const posts = this.posts.filter((item) => item.title.toLowerCase().includes(query))

            this.results = [...collections, ...posts]
          })
        },
    }
`}
  class="relative"
>
  <input
    type="text"
    x-model="q"
    placeholder="Search..."
    class="w-screen max-w-xs rounded-lg border border-stone-300 bg-white text-stone-900 placeholder-stone-500 shadow-sm"
    autocomplete="off"
    @keydown.prevent.window.slash="$el.focus()"
  />

  <div
    x-cloak
    x-show="q.length > 0"
    x-transition.duration.500ms
    class="absolute top-full mt-2 max-h-72 w-full overflow-y-auto rounded-lg border border-stone-300 bg-white shadow-lg"
  >
    <template x-if="results.length === 0">
      <p class="p-4 text-stone-700">No results found.</p>
    </template>

    <ul>
      <template x-for="result in results" :key="result.slug">
        <li>
          <a
            :href="result.slug"
            class="block px-4 py-2 font-medium text-pretty text-stone-700 transition-colors hover:bg-stone-100 hover:text-stone-900"
          >
            <div class="flex gap-2">
              <span aria-hidden="true" x-text="result.emoji"></span>

              <span x-text="result.title"></span>
            </div>
          </a>
        </li>
      </template>
    </ul>
  </div>
</div>
