<search-input>
  <label for="search" class="relative block">
    <span class="sr-only"> Search </span>

    <span
      class="pointer-events-none absolute inset-y-0 left-0 inline-flex size-9 items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-4"
      >
        <path
          fill-rule="evenodd"
          d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
          clip-rule="evenodd"></path>
      </svg>
    </span>

    <input
      id="search"
      type="text"
      placeholder="Search..."
      class="w-32 rounded-md border-gray-200 bg-white pl-9 text-sm font-medium text-gray-900 placeholder-black transition-colors hover:bg-gray-50"
      autocomplete="off"
    />
  </label>
</search-input>

<script>
  class SearchInput extends HTMLElement {
    private inputHandler: (() => void) | null = null
    private keydownHandler: ((keyboardEvent: KeyboardEvent) => void) | null = null

    connectedCallback() {
      const inputEl = this.querySelector('input') as HTMLInputElement | null

      if (!inputEl) {
        return
      }

      this.inputHandler = () => {
        this.dispatchEvent(
          new CustomEvent('input:search', {
            bubbles: true,
            detail: { value: inputEl.value },
          }),
        )
      }

      this.keydownHandler = (keyboardEvent: KeyboardEvent) => {
        const pressedKey = keyboardEvent.key

        if (pressedKey === 'Escape') {
          inputEl.blur()

          this.dispatchEvent(new CustomEvent('input:escape', { bubbles: true }))

          return
        }

        if (pressedKey === 'Enter') {
          keyboardEvent.preventDefault()

          this.dispatchEvent(new CustomEvent('input:enter', { bubbles: true }))

          return
        }

        return
      }

      inputEl.addEventListener('input', this.inputHandler)
      inputEl.addEventListener('keydown', this.keydownHandler)
    }

    disconnectedCallback() {
      const inputEl = this.querySelector('input') as HTMLInputElement | null

      if (inputEl && this.inputHandler && this.keydownHandler) {
        inputEl.removeEventListener('input', this.inputHandler)
        inputEl.removeEventListener('keydown', this.keydownHandler)

        this.inputHandler = null
        this.keydownHandler = null
      }
    }
  }

  customElements.define('search-input', SearchInput)
</script>
