<footer class="mt-8 border-t border-gray-200 md:mt-16">
  <div
    class="mx-auto flex max-w-7xl flex-col items-center justify-between gap-4 px-4 py-6 md:flex-row md:py-12"
  >
    <p class="text-sm text-gray-700">
      Built by <a
        href="https://github.com/markmead"
        target="_blank"
        rel="noreferrer"
        class="underline transition-colors hover:text-gray-900">Mark Mead</a
      >
    </p>

    <p class="text-sm text-gray-700">
      Released under the
      <a
        href="https://github.com/markmead/hyperui/blob/main/LICENSE"
        target="_blank"
        rel="noreferrer"
        class="underline transition-colors hover:text-gray-900"
      >
        MIT License
      </a>
    </p>
  </div>
</footer>
