---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'

interface Props {
  description: string
  title: string
  ads?: boolean
}

const { description, title, ads = true } = Astro.props
---

<html lang="en" class="scroll-pt-16 scroll-smooth">
  <head>
    <BaseHead ads={ads} description={description} title={title} />

    <slot name="head" />
  </head>
  <body class="font-sans antialiased">
    <Header />

    <slot />

    <Footer />
  </body>
</html>
