@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-toastify/dist/ReactToastify.min.css';

pre[class*='language-'] {
  @apply p-8 m-0 rounded-xl bg-gray-900 !important;
}

.token:is(.property, .tag, .constant, .symbol, .deleted) {
  @apply text-red-400 !important;
}

.token:is(.selector, .attr-name, .string, .char, .builtin, .inserted) {
  @apply text-yellow-400 !important;
}

.token:is(.atrule, .attr-value, .function, .class-name) {
  @apply text-green-400 !important;
}

.token:is(.comment, .prolog, .doctype, .cdata) {
  @apply text-gray-400 !important;
}

.token:is(.operator, .entity, .url, .variable) {
  @apply text-white !important;
}

.token:is(.boolean, .number) {
  @apply text-purple-400 !important;
}

.token.keyword {
  @apply text-cyan-400 !important;
}

input[type='range'] {
  height: 28px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #000000;
  border-radius: 50px;
  border: 0px solid #000000;
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #000000;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #000000;
  border-radius: 50px;
  border: 0px solid #000000;
}

input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}

input[type='range']::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}

input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

input[type='range']:focus::-ms-fill-lower {
  background: #000000;
}

input[type='range']:focus::-ms-fill-upper {
  background: #000000;
}