input[type='range'] {
  @apply w-full h-7 appearance-none focus:outline-none;
}

input[type='range']::-webkit-slider-runnable-track {
  border: 0 solid #000;
  box-shadow: 0 0 0 #000;
  @apply bg-black rounded-full cursor-pointer h-1.5 w-full;
}

input[type='range']::-webkit-slider-thumb {
  border: 2px solid #000;
  box-shadow: 0 0 0 #000;
  @apply appearance-none bg-white rounded-full cursor-pointer h-5 w-5 -mt-2;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  @apply bg-black;
}

input[type='range']::-moz-range-track {
  border: 0 solid #000;
  box-shadow: 0 0 0 #000;
  @apply bg-black rounded-full cursor-pointer h-1.5 w-full;
}

input[type='range']::-moz-range-thumb {
  border: 2px solid #000;
  box-shadow: 0 0 0 #000;
  @apply bg-white rounded-full cursor-pointer w-5 h-5;
}

input[type='range']::-ms-track {
  @apply bg-transparent border-transparent text-transparent cursor-pointer h-1.5 w-full;
}

input[type='range']::-ms-fill-upper,
input[type='range']::-ms-fill-lower {
  border: 0 solid #000;
  box-shadow: 0 0 0 #000;
  @apply bg-black rounded-full;
}

input[type='range']::-ms-thumb {
  border: 2px solid #000;
  box-shadow: 0 0 0 #000;
  @apply bg-white rounded-full cursor-pointer h-5 w-5 mt-px;
}

input[type='range']:focus::-ms-fill-upper,
input[type='range']:focus::-ms-fill-lower {
  @apply bg-black;
}
